@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  * {
    font-family: 'Courier Prime', sans-serif;
  }
}

@layer components {
  .btn-primary {
    @apply px-12 h-24 bg-yellow text-7xl leading-normal rounded-xl;
  }
  .btn-secondary {
    @apply px-7 h-12 border-2 border-yellow text-yellow rounded-2xl text-2xl leading-normal;
  }
  .linear-gradient-b {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  }
}
